{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools %}
    <ul class="object-tools">
        <li>
            <a href="{% url 'admin:leads_lead_download_all_excel' %}" class="addlink">
                📊 Download All as Excel
            </a>
        </li>
        <li>
            <a href="{% url 'admin:leads_lead_download_all_csv' %}" class="addlink">
                📄 Download All as CSV
            </a>
        </li>
        <li>
            <a href="{% url 'admin:leads_lead_sync_all_sheets' %}" class="addlink">
                🔄 Sync All to Google Sheets
            </a>
        </li>
        <li>
            <a href="{% url 'admin:leads_lead_upload_excel' %}" class="addlink">
                📤 Upload Excel Leads
            </a>
        </li>
    </ul>
{% endblock %}